@font-face{
    font-family: 'ISB';
    src: url(../font/Inter-SemiBold.ttf);
}
@font-face{
    font-family: 'RM';
    src: url(../font/Rubik-Medium.ttf);
}
@font-face{
    font-family: 'RR';
    src: url(../font/Rubik-Regular.ttf);
}
@font-face{
    font-family: 'RSB';
    src: url(../font/Rubik-SemiBold.ttf);
}